[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
setuptools = "*"
polygon-api-client = "*"
python-dotenv = "*"
pyyaml = "*"
requests = "*"
pipenv = "*"
install = "*"
pytest = "*"

[dev-packages]
jupyter = "*"
coverage = "*"
moto = {extras = ["s3"], version = "*"}

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
